.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  gap: 4rem;
  position: relative;
  background-image: linear-gradient(to right top, #12211e, #163530, #184a45, #14605b, #047773);
  border-radius: 1rem;
}

.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* left side */
.a-left{
    gap: 2rem;
}

.a-left > img {
  width: 15rem;
  /* height: 4rem; */
  position: absolute;
  left: 7px;
  top: 7px;
}

.Webname > h1 {
    margin-top: 4rem;
    font-size: 3rem;
    background-color: aliceblue;
  
    /* Create the gradient. */
    /* background-image: var(--buttonBg); */
    /* background-image: var(--buttonBg); */
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.Webname>h6{
    font-size: 1rem;
    color: aliceblue;
}



/* right side */


.authForm{
    /* background-color: var(--cardColor);
    border-radius: 1rem; */
    padding: 1rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: aliceblue;

}

.authForm>div{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.authForm{
  padding: 40px 20px;
  border-radius: 40px 7px 40px 7px;
  /* height: 20rem; */
}

input{
  color: aliceblue;
}
input[type]{
  background-color: rgba(1, 52, 55,0.5);
  border-radius: .9rem;
}

.infoButton{
  height: 2.5rem;
  border-radius: 0.7rem;
}