.Home {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
  /* background-color: aliceblue; */

   backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    /* background-color: rgba(17, 25, 40, 0.75); */
    border-radius: 12px;
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
}
