
.FollowersCard{
    width: 95%;
    border-radius: 0.7rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    /* max-height: 10rem; */
    color: rgb(130, 130, 130);
    padding: 10px 6px;
    /* background: #191F28; */

    /* border: 1px salmon solid; */
    /* backdrop-filter: blur(46px) saturate(180%); */
}
.FollowersCard >h3{
    color: #008170;
}
.follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follower>div{
    display: flex;
    gap: 10px;
}


.followerImage{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.name>span:nth-of-type(1){
    font-weight: bold;
}



.fc-button{
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}

.UnfollowButton{
    color: aliceblue;
    border: 2px solid rgba(240, 248, 255, 0.664);
    cursor: pointer;
    background: transparent;
}


.FollowersCard>span{
    font-weight: bold;
    color: #008170;
    align-self: center;
    cursor: pointer;
}